# Node.js dependencies
node_modules/
/client/node_modules
/server/node_modules
package-lock.json

# Environment variables
.env

# Logs
*.log
logs/

# IDE files
.idea/
*.iml
.vscode/

# OS files
.DS_Store