# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Build output
# /client/build/
/client/dist/

# Logs
*.log
logs/

# IDE files
.idea/
*.iml
.vscode/

# OS files
.DS_Store

# Docker Compose
docker-compose.yaml
docker-compose-prod.yaml