DB_USER=dbuser
DB_PASSWORD=dbpw
DB_NAME=recipes_db
DB_HOST=host

POSTGRES_USER=user_prodonly
POSTGRES_PASSWORD=pw_prodonly
POSTGRES_DB=recipes_db_prodonly

FRONTEND_USER=user
FRONTEND_PASSWORD=pw

JWT_TOKEN=token

PGADMIN_DEFAULT_PASSWORD=pw_prodonly